.button {
  display: block;
  min-width: 280px;
  min-height: 16px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: $font-color-inverse;
  text-transform: uppercase;

  background-color: $primary-color;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($font-color-inverse, 0.3);
  }
}
