.catalog__more {
  font-weight: 400;
  text-align: center;
}

.catalog__more-title {
  font-size: 16px;
  line-height: 20px;
  color: $font-color-main;
  text-transform: uppercase;
}

.catalog__more-description {
  font-size: 12px;
  line-height: 16px;
  font-family: $font-minor;
  color: $font-color-minor;
}

.catalog__show-all {
  color: $font-color-minor;

  background-color: $bg-color-minor;
}
