.catalog__list {
  padding: 0;

  list-style: none;

  border-top: 1px solid $bg-color-minor;
}

.catalog__item {
  border-bottom: 1px solid $bg-color-minor;
}

.catalog__more {
  padding-top: 63px;
  padding-bottom: 24px;

  font-weight: 400;
  text-align: center;

  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 26px;
  background-size: 31px 31px;
}

.catalog__more-title {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  color: $font-color-main;
  text-transform: uppercase;
}

.catalog__more-description {
  margin-top: 8px;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-minor;
  color: $font-color-minor;
}

.catalog__show-all {
  margin: 0 auto;
  margin-top: 21px;
  padding-bottom: 10px;

  color: $font-color-minor;

  background-color: $bg-color-minor;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
    padding-top: 134px;

    border: 0;
  }

  .catalog__item {
    display: flex;
    margin-right: 60px;
    margin-bottom: 140px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog__more {
    flex-direction: column;
    align-items: center;
    width: 322px;
    padding-top: 143px;

    background-image: url("../img/icon-plus.svg");
    background-position: center 54px;
    background-size: 61px 61px;
    border: 1px solid #e6e6e6;
  }

  .catalog__more-title {
    width: 135px;
    margin-bottom: 19px;

    font-size: 20px;
    line-height: 20px;
  }

  .catalog__more-description {
    width: 170px;

    font-size: 16px;
    line-height: 18px;
  }

  .catalog__show-all {
    width: 249px;
    min-width: 249px;
    margin-top: auto;
    margin-bottom: 14px;
  }
}

@media (min-width: 1152px) {
  .catalog__list {
    width: 1092px;
  }

  .catalog__item {
    &:nth-child(2n) {
      margin-right: 60px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    width: 1220px;
    padding: 0 110px;
    padding-top: 134px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 143px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(3n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__more {
    width: 242px;
  }

  .catalog__show-all {
    width: 169px;
    min-width: 169px;
  }
}
