.contacts {
  font-weight: 400;

  background-color: $bg-color1;

  &--gray {
    background-color: $bg-color2;
  }
}

.contacts__slogan {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: $font2;
  color: $font-color2;
}
