.live-example {
  min-height: 665px;
  padding-top: 10px;
  padding-bottom: 30px;

  font-weight: 400;

  background-color: $bg-color-minor;
}

.live-example__title {
  margin-top: 10px;
  margin-bottom: 26px;
}

.live-example__description {
  width: 99%;
  margin: 23px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-minor;
  color: $font-color-minor;
}

.live-example__statistic {
  margin: 0 auto;

  tbody {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin-left: -2px;
  }
}

.live-example__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 122px;
  min-height: 44px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding-top: 11px;

  border: 1px solid #cfcfcf;
  border-bottom: 0;
  border-radius: 2px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &--food {
    display: block;
    width: auto;
    min-height: auto;
    margin: 0 auto;
    padding-top: 0;

    border: 0;
  }
}

.live-example__head {
  position: relative;

  display: flex;
  order: 1;
  width: 80px;
  margin-bottom: -15px;
  padding: 0;

  font-weight: inherit;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-minor;
  text-align: center;
  text-transform: lowercase;

  &--food {
    display: table-cell;
    width: auto;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 15px;

    width: 17px;
    height: 1px;

    background-color: #cfcfcf;
  }

  &::before {
    left: -21px;
  }

  &::after {
    right: -21px;
  }

  &--food::before,
  &--food::after {
    display: none;
  }
}

.live-example__col {
  width: 82px;
  margin-bottom: 7px;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  &--food {
    width: auto;
  }
}

.live-example__head--food,
.live-example__col--food {
  font-size: 14px;
  line-height: 20px;
  font-family: $font-main;
  text-transform: uppercase;
  text-align-last: left;
}

.live-example__wrap {
  width: 320px;
  margin: 0 auto;
}

.live-example__image-wrap {
  display: none;

  &--visible {
    display: block;
  }
}

.live-example__image {
  width: 320px;
  height: 240px;
  margin: 0 auto;
  margin-top: 30px;
}

.live-example__compare {
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin: 0 auto;
  margin-top: 30px;
}

.live-example__button {
  padding: 0;
  padding-bottom: 6px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: 0;
  cursor: pointer;


  &:hover {
    padding-bottom: 5px;

    border-bottom: 1px solid #989898;
  }

  &:active {
    border: 0;
  }
}

.live-example__bar {
  position: relative;

  width: 82px;
  height: 12px;
  margin-top: 3px;

  background-color: $bg-color-main;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 2px 0 #989898;
  }

  &:active {
    border: 2px solid $primary-color;
  }
}

.live-example__toggle {
  position: absolute;
  top: 3px;
  left: 7px;

  width: 35px;
  height: 6px;

  background-color: $primary-color;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .live-example {
    padding-top: 33px;

    background-color: $bg-color-main;
    border-top: 1px solid #e6e6e6;
  }

  .live-example__title {
    margin-bottom: 64px;
  }

  .live-example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__statistic {
    width: 708px;
    margin-top: 51px;

    tbody {
      width: 708px;
      margin-left: -2px;
    }
  }

  .live-example__row {
    width: 160px;
    min-height: 57px;
    margin-right: 42px;
    padding-top: 14px;

    &:nth-child(2n) {
      margin-right: 42px;
    }

    &--food {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      width: 295px;
      margin: 0;
      margin-left: auto;
      padding: 0;
    }
  }

  .live-example__head {
    width: 130px;
    margin-bottom: -5px;

    font-size: 14px;
    line-height: 14px;

    &--food {
      width: auto;
      margin-top: 11px;

      font-size: 20px;
      line-height: 20px;
    }

    &--short {
      width: 100px;
    }

    &::before,
    &::after {
      bottom: 5px;

      width: 9px;
    }

    &::before {
      left: -15px;
    }

    &::after {
      right: -15px;
    }

    &--short::before,
    &--short::after {
      width: 23px;
    }

    &--short::before {
      left: -30px;
    }

    &--short::after {
      right: -30px;
    }
  }

  .live-example__col {
    width: 105px;

    font-size: 30px;
    line-height: 37px;

    &--food {
      order: 1;
      width: auto;
      margin-top: 14px;

      font-size: 20px;
      line-height: 20px;
    }
  }

  .live-example__bottom {
    min-height: 460px;
    margin-top: 221px;
    padding-top: 2px;

    background-color: $bg-color-minor;
  }

  .live-example__wrap {
    display: flex;
    justify-content: center;
    width: 690px;
    height: 517px;
    margin-top: -170px;
  }

  .live-example__image-wrap {
    position: relative;

    display: block;
    flex-shrink: 0;
    width: 50%;
    overflow: hidden;
  }

  .live-example__image {
    position: absolute;

    width: 690px;
    max-width: 690px;
    height: 517px;
    margin: 0;

    &--after {
      position: absolute;
      right: 0;

      display: block;
    }
  }

  .live-example__compare {
    width: 570px;
    margin-top: 18px;
  }

  .live-example__button {
    padding-bottom: 6px;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted #bebebe;

    &:hover {
      padding-bottom: 6px;
    }
  }

  .live-example__bar {
    width: 428px;
    height: 6px;
    margin-top: 8px;

    background-color: #dcdcdc;
    border: 0;
    border-radius: 2.5px;
    cursor: default;

    &:hover,
    &:active {
      border: 0;
      box-shadow: none;
    }
  }

  .live-example__toggle {
    position: absolute;
    top: -14px;
    left: 198px;

    width: 32px;
    height: 32px;

    background-color: $bg-color-main;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      width: 30px;
      height: 30px;

      border: 2px solid $primary-color;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 8px;
      height: 8px;
      margin-top: -4px;
      margin-left: -4px;

      background-color: $primary-color;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 38px;

    border: 0;
  }

  .live-example__description {
    width: 435px;
  }

  .live-example__top {
    width: 100%;
  }

  .live-example__middle {
    margin-left: auto;
    padding-top: 48px;

    background-color: $bg-color-minor;

    .wrapper {
      width: 530px;
      min-width: 530px;
      margin: 0;
      margin-left: auto;
      padding: 0;
    }
  }

  .live-example__bottom {
    margin-top: 0;
    margin-right: auto;
    padding: 0;

    background-color: $bg-color-minor;
  }

  .live-example__middle,
  .live-example__bottom {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 370px;
    margin-top: 11px;
    padding-bottom: 44px;
    padding-left: 43px;
  }

  .live-example__wrap {
    margin-top: -190px;
    margin-left: 0;
  }

  .live-example__compare {
    margin-top: 40px;
    margin-left: 0;
    padding-left: 77px;
  }

  .live-example__statistic {
    width: 410px;
    margin: 0;
    margin-top: 66px;

    tbody {
      width: 410px;
    }
  }

  .live-example__row--food {
    flex-direction: row;
    align-items: center;
    width: 327px;
    min-height: auto;
    margin-top: 28px;
    margin-left: 0;
  }

  .live-example__head--food {
    display: block;
    flex-shrink: 0;
    width: 195px;
    margin: 0;

    text-align: left;
  }

  .live-example__col--food {
    display: block;
    flex-shrink: 0;
    max-width: 280px;
    margin: 0;
    margin-left: 42px;

    text-align: right;
  }
}
