.main-content__section-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: $font-color-main;

  &--small {
    font-size: 24px;
    line-height: 24px;
  }
}

.main-content__program-selection {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-content__program-selection {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-content__program-selection {
    width: 1220px;
    padding: 0 110px;
  }
}
