.main-footer {
  background-color: $bg-color-minor;
}

@media (min-width: $tablet-width) {
  .main-footer__bottom {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__bottom {
    position: relative;
    z-index: 1;
  }
}
