.more-products__gift {
  background-color: $primary-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.more-products__offer {
  font-size: 16px;
  line-height: 20px;
  font-family: $font2;
  text-align: center;
  color: $font-color3;
}
