.product-small__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.product-small__row {
  font-size: 14px;
  line-height: 14px;
  font-family: $font2;
  color: $font-color2;
}
