.product-small__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.product-small__row {
  font-size: 14px;
  line-height: 14px;
  font-family: $font-minor;
  color: $font-color-minor;
}

@media (min-width: $tablet-width) {
  .product-small {
    display: flex;
    flex-wrap: wrap;
  }

  .product-small__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product-small {
    display: flex;
    flex-wrap: nowrap;
  }

  .product-small__button {
    width: 245px;
  }
}
