.program-form__description {
  width: 100%;
  margin-top: 27px;
  overflow: hidden;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__form {
  margin-top: 38px;
}

.program-form__fieldset {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 0;

  &--no-title {
    border-bottom: 1px solid #ededed;
  }

  &--info {
    padding-bottom: 9px;
  }

  &--purpose {
    margin-bottom: 28px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &--contacts {
    margin-bottom: 14px;
  }

  &--comment {
    margin-bottom: 26px;
  }

  &--addit {
    margin-bottom: 24px;
  }
}

.program-form__legend {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  &--addit {
    margin-bottom: 29px;
  }

  &::after {
    align-self: flex-start;
    margin-top: 14px;
  }
}

.program-form__legend-text {
  max-width: 80vw;
  margin-right: 15px;
  padding-bottom: 5px;
  overflow: hidden;

  &--contacts {
    width: 62%;
  }
}

.program-form__wrap {
  padding: 0 20px;

  &--submit {
    overflow: hidden;
  }
}

.program-form__input-wrap {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.program-form__label {
  display: block;
  flex-shrink: 0;
  margin-right: 15px;
  overflow: hidden;

  cursor: pointer;

  &--text {
    max-width: 33vw;
  }

  &:active {
    opacity: 0.3;
  }
}

.program-form__label--radio,
.program-form__label--checkbox {
  position: relative;

  display: flex;
  align-items: center;
  max-width: 68vw;
  min-height: 32px;
  margin-bottom: 10px;
  padding-left: 46px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;

    width: 28px;
    height: 28px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.program-form__label--checkbox::before {
  border-radius: 0;
}

.program-form__input-radio:checked {
  & + .program-form__label--radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;

    width: 12px;
    height: 12px;

    background-color: $primary-color;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.program-form__input-checkbox:checked {
  & + .program-form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px 17px;
  }
}

.program-form__input-radio:disabled + .program-form__label--radio,
.program-form__input-checkbox:disabled + .program-form__label--checkbox {
  cursor: default;
  opacity: 0.3;
}

.program-form__input-radio:focus + .program-form__label--radio::before,
.program-form__input-checkbox:focus + .program-form__label--checkbox::before {
  outline: 1px solid #5e9ed6;
}

.program-form__input-text {
  flex-grow: 1;
  width: 100px;
  min-height: 43px;
  padding: 0 12px;
  padding-right: 45px;

  text-transform: uppercase;

  background-repeat: no-repeat;
  border: 1px solid #e6e6e6;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    min-height: 41px;
    padding: 0 11px;
    padding-right: 45px;

    border: 2px solid $font-color-minor;
    outline: 0;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: #ff8282;
  }
}

.program-form__input-text::placeholder,
.program-form__comment::placeholder {
  color: $font-color-minor;
}

.program-form__icon {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  svg {
    fill: #222222;
  }

  &--email {
    right: 15px;

    width: 18px;
    height: 14px;
  }

  &--tel {
    right: 12px;

    width: 21px;
    height: 21px;
  }
}

.program-form__input-text:focus ~ .program-form__icon svg {
  fill: $primary-color;
}

.program-form__input-text:invalid:not(:placeholder-shown) ~ .program-form__icon svg {
  fill: #ff8282;
}

.program-form__comment {
  width: 91.5%;
  height: 124px;
  margin-top: 1px;
  padding: 12px 11px;

  text-transform: uppercase;

  border: 1px solid #e6e6e6;

  resize: none;
}

.program-form__submit {
  margin: 0 auto;
  margin-bottom: 21px;
  padding-bottom: 10px;
}

.program-form__small-text {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-family: $font-minor;
  text-align: center;
  color: $font-color-minor;
}

@media (min-width: $tablet-width) {
  .program-form__form {
    margin-top: 66px;
  }

  .program-form__description {
    width: auto;
    margin-top: 46px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }

  .program-form__fieldset {
    font-size: 20px;
    line-height: 20px;

    &--no-title {
      border: 0;
    }

    &--purpose {
      margin: 0;
      margin-top: 43px;
      padding: 0;
    }

    &--contacts {
      margin-top: 75px;
    }

    &--comment {
      margin-top: 45px;
    }

    &--addit {
      margin-top: 64px;
    }
  }

  .program-form__legend {
    padding: 0;

    font-size: 36px;
    line-height: 36px;

    &::after {
      margin-top: 22px;
    }

    &--addit {
      margin-bottom: 25px;
    }
  }

  .program-form__legend-text {
    margin-right: 46px;
    padding-left: 41px;

    &--contacts {
      width: 75%;
      max-width: 513px;
    }
  }

  .program-form__wrap {
    padding-right: 67px;
    padding-left: 71px;

    &--purpose {
      width: calc(100vw - 196px);
      margin: 0 auto;
      padding: 0 28px;
      padding-top: 23px;
      padding-bottom: 12px;

      border: 1px solid #e6e6e6;
    }

    &--contacts {
      margin-top: 71px;
    }

    &--comment {
      margin-top: 70px;
    }

    &--addit {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
    }

    &--submit {
      display: flex;
      flex-wrap: wrap;
      margin-top: 51px;
    }
  }

  .program-form__input-wrap {
    margin-bottom: 20px;
  }

  .program-form__input-text {
    min-height: 50px;
    padding-left: 20px;

    &:focus {
      min-height: 48px;
      padding-left: 19px;
    }
  }

  .program-form__label--radio {
    min-height: 42px;
    margin-top: 0;
    margin-bottom: 11px;
    padding-left: 60px;

    &::before {
      left: 1px;

      width: 38px;
      height: 38px;
    }
  }

  .program-form__input-radio:checked {
    & + .program-form__label--radio::after {
      left: 12px;

      width: 18px;
      height: 18px;
    }
  }

  .program-form__label--checkbox {
    width: 35.7%;
    min-height: 42px;
    margin-top: 26px;
    margin-right: 60px;
    margin-bottom: 3px;
    padding-left: 58px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &::before {
      width: 38px;
      height: 38px;
    }
  }

  .program-form__icon {
    &--email {
      right: 18px;

      margin-top: -5px;
    }

    &--tel {
      right: 15px;
    }
  }

  .program-form__comment {
    width: 94.3%;
    height: 148px;
    padding: 12px 17px;
  }

  .program-form__submit {
    width: 283px;
    min-width: 283px;
    margin: 0;
    margin-right: 61px;
    padding-top: 15px;
    padding-bottom: 17px;

    font-size: 20px;
    line-height: 20px;
  }

  .program-form__small-text {
    margin-top: 16px;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-form__form {
    display: flex;
    flex-wrap: wrap;
  }

  .program-form__description {
    padding: 0;
  }

  .program-form__fieldset {
    position: relative;

    width: 100%;

    &--info {
      width: 570px;
      margin-right: 80px;
      margin-left: auto;
      padding: 0;
    }

    &--purpose {
      width: 570px;
      margin: 0;
      margin-right: auto;
      padding: 0;
    }

    &--contacts {
      margin-top: 50px;
    }

    &--comment {
      margin-top: 33px;
    }

    &--addit {
      margin-top: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 3px;

      background-color: $primary-color;
    }

    &--info::before,
    &--purpose::before {
      display: none;
    }
  }

  .program-form__legend {
    width: 1260px;
    margin: 0 auto;
    padding-left: 40px;

    background-color: $bg-color-main;
  }

  .program-form__legend-text {
    padding: 0;

    &--contacts {
      width: auto;
      max-width: 80vw;
    }
  }

  .program-form__wrap {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    &--info {
      width: 100%;
    }

    &--purpose {
      width: auto;
      padding-top: 23px;
      padding-bottom: 12px;
      padding-left: 26px;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 75px;
    }

    &--comment {
      margin-top: 75px;
    }

    &--addit {
      margin-top: 30px;
    }

    &--submit {
      margin-top: 33px;
    }
  }

  .program-form__input-wrap {
    width: 570px;
  }

  .program-form__label--text {
    max-width: 18vw;
  }

  .program-form__label--radio {
    max-width: 440px;
  }

  .program-form__label--checkbox {
    display: flex;
    align-items: center;
    width: 187px;
    margin-right: 80px;

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  .program-form__comment {
    width: 97%;
  }

  .program-form__submit {
    width: 570px;
    margin-right: 81px;
  }
}
