.product-small {
  border-top: 1px solid #cdcdcd;
  padding-bottom: 17px;
}

.product-small__title {
  margin: 13px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.product-small__info {
  border-spacing: 0;
  width: 100%;
}

.product-small__row {
  font-size: 14px;
  line-height: 14px;
  font-family: $font-minor;
  color: $font-color-minor;
}

.product-small__col {
  padding: 0;

  &--right {
    text-align: right;
  }
}

.product-small__button {
  width: 100%;
  margin-top: 15px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .product-small {
    display: flex;
    flex-wrap: wrap;
  }

  .product-small__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product-small {
    display: flex;
    flex-wrap: nowrap;
  }

  .product-small__button {
    width: 245px;
  }
}
