.program-unit {
  font-weight: 400;
  color: $font-color-main;

  background-color: $bg-color-minor;
}

.program-unit__title {
  font-weight: inherit;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program-unit__description {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-minor;
  color: $font-color-minor;
}

.program-unit__link {
  font-size: 16px;
  line-height: 16px;
  color: $font-color-main;
  text-transform: uppercase;
}
