// Цвета
$bg-color-main: #ffffff;
$bg-color-minor: #f2f2f2;
$primary-color: #68b738;
$font-color-main: #111111;
$font-color-minor: #444444;
$font-color-inverse: #ffffff;

// Шрифт
$font-main: "Oswald", "Arial", sans-serif;
$font-minor: "Arial", sans-serif;
