// Цвета
$bg-color1: #ffffff;
$bg-color2: #f2f2f2;
$primary-color: #68b738;
$font-color1: #111111;
$font-color2: #444444;
$font-color3: #ffffff;

// Шрифт
$font: "Oswald", "Arial", sans-serif;
$font2: "Arial", sans-serif;
