.work-principe__description {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-minor;
  color: $font-color-minor;
}

@media (min-width: $tablet-width) {
  .work-principe__list {
    display: flex;
    flex-wrap: wrap;
  }

  .work-principe__item {
    width: 324px;
    flex-grow: 1;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .work-principe__item {
    width: 245px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
